@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

.container {
  max-width: 81.25rem;
  padding: 0 8rem;
  margin: 0 auto;
}

.standard-section {
  /* py-12 px-24 */
  padding: 3rem 6rem;
}

*:focus{
  outline: none;
  box-shadow: 0 0 0 0.5rem rgba(230, 125, 34, 0.5)
}

@tailwind base;
@tailwind components;
@tailwind utilities;
